@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$font-stack: 'Open Sans', sans-serif;
$colour-darkest: #594545;
$colour-dark: #815B5B;
$colour-mid: #9E7676;
$colour-light: #FFF8EA;
$colour-font: #3b2e2e;

body {
  font-family: $font-stack;
  margin: 0;
  background-color: $colour-light;
  color: $colour-font;
}
