.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colour-mid;
  padding: 10px;

  .brand-container {
    display: flex;
    align-items: center;
    gap: 15px;

    &__brand-img {
      height: 60px;
    }

    &__brand-title {
      font-family: 'Dancing Script', cursive;
      font-size: 2.5rem;
      margin: 0;
    }
  }

  .menu-list {
    display: flex;
    list-style: none;
    gap: 20px
  }
}
